---
title: moneypenny - contact
---
<div class="padded-top">
  <div class="card">
    <%= image_tag "profile_pic.jpeg", class: "img-thumbnail" %>
    <h3>Marion Grandjean</h3>
    <%= link_to "email" %>
    <p></p>
    <%= link_to "linkedin" %>
    <hr>
    <%= link_to "www.moneypenny.strikingly.com" %>
  </div>
</div>
